.idea/
node_modules/
dist/
test/
uploads/
npm-debug.log
coverage/
.node-version
tmp.txt

#public
public/*
!public/assets/
!public/assets/images

cordova/platforms
cordova/www
cordova/mentoring.apk
/cordova/res/
/cordova/plugins/
